/* app/page.module.css */

.container {
  padding: 0;
  background-color: var(--background);
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 100px 0;
  background-image: url('/hero2.jpg'); /* Placeholder para imagen de fondo */
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 71, 96, 0.6); /* Overlay azul oscuro */
}

.hero .title {
  position: relative;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  z-index: 1;
}

.hero .description {
  position: relative;
  font-size: 1.5rem;
  color: #dddddd;
  margin: 1rem 0;
  z-index: 1;
}

.buttons {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* Sección de Fundación */
.foundation {
  text-align: center;
  padding: 4rem 0;
  background-color: #ffffff;
}

.foundationImage {
  max-width: 100%;
  height: auto;
}

.foundation h2 {
  margin-top: 2rem;
  font-size: 2rem;
  color: var(--primary);
}

.foundation p {
  font-size: 1.2rem;
  color: var(--foreground);
  margin-top: 1rem;
}

/* Responsividad */
@media (max-width: 768px) {
  .hero .title {
    font-size: 2.5rem;
  }

  .hero .description {
    font-size: 1.2rem;
  }

  .services {
    flex-direction: column;
    align-items: center;
  }

  .serviceItem {
    max-width: 90%;
  }
}
/*Equipo*/
.subtitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.teamGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.teamMember {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.teamImage {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.teamName {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.teamRole {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.socialLinks {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.socialIcon {
  font-size: 24px;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.socialIcon:hover {
  color: #333;
}

/* Estilos adicionales para la página de inicio */
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.primaryBtn {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.secondaryBtn {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
}

.foundationImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
