@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  /*Inicio chatbot*/
}
.chatbot-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  height: 400px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Para asegurarte de que esté por encima de otros elementos */
}

.chatbot-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3498db; /* Botón llamativo */
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1000;
}

.chatbot-open {
  display: block;
}

.chatbot-closed {
  display: none;
}
/*Fin chatbot*/
