/* components/globals.css */

/* Estilos para Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--background);
}

.header a {
  color: var(--foreground);
  text-decoration: none;
  font-weight: bold;
}

.header a:hover {
  color: var(--secondary); /* Cambia de color al pasar el cursor */
}

.logo {
  width: 150px;
}

.nav-menu {
  display: flex;
  gap: 20px;
}

.nav-item {
  font-size: 1rem;
}

/* Estilos para Footer */
.footer {
  background-color: var(--primary);
  color: white;
  padding: 20px;
  text-align: center;
}

.footer a {
  color: var(--secondary);
  margin: 0 10px;
}

.footer a:hover {
  color: var(--button-hover);
}

/* Estilos para ChatBot */
.chatbot-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  height: 400px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Por encima de otros elementos */
}

.chatbot-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--secondary); /* Azul claro */
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1000;
}

.chatbot-open {
  display: block;
}

.chatbot-closed {
  display: none;
}
